# Rules for hotplugging Bosto 14wa
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0b57", ATTRS{idProduct}=="9018", ENV{DEVTYPE}=="usb_device", RUN="/usr/local/bin/insert_bosto_14wa %k %s{idVendor} %s{idProduct}"
